@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
    width:100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #cac7c7f3;
}
.navbar {
    padding: .8rem;
    } 
.navbar .container-fluid .navbar-toggler {
    outline: none;
    }
.navbar-nav li {
    padding-right: 20px;
    }
.nav-link {
    font-size: 1.2em !important;
    }
.navbar .container-fluid ul li .item {
    color: #fff;
}
.navbar .container-fluid ul li .item:hover {
    color: #f9fd00;
    }
.navbar .container-fluid ul li .item-act {
    color: #f9fd00;
    }
.navbar .container-fluid ul li .item-act:hover {
    color: #f9fd00;
    }

.sec_prin .banner_video{
    background: #f4f4f4;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
}
/* informacion */
.informacion{
    display: flex;
    justify-content: center;
    align-self: center;
}

.container-new{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
    /* height: 400px; */
}

.container-new .card{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #6f00ff;
}

.container-new .card::before{
    content: '';
    position:absolute;
    top: 0;
    right:0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}

.container-new .card.active::before
{
    border-top: 20px solid #ff3b7e;
    border-right: 20px solid #ff3b7e;
}
.container-new .card .content-new{
    position: relative;
    height: 215px;
    overflow: hidden;
}

.container-new .card.active .content-new
{
    height: auto;
}

.container-new .card .content-new::before
{
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #6f00ff)
}

.container-new .card.active .content-new::before
{
    display: none;
}

.container-new .card .content-new h3
{
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.container-new .card .content-new p
{
    color: #ccc;
}

.container-new .card .more
{
    position: relative;
    padding: 20px 40px;
    background: #17e78c;
    margin-top:15px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 14px;
    margin: auto;
}

.container-new .card.active .more
{
    background: #ff3b7e;
    color: #fff;
}

.container-new .card .more::before
{
    content: 'Leer más';
}

.container-new .card.active .more::before
{
    content: 'Leer menos'
}

footer {
    background: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    }
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    }
footer a{
    color: #d5d5d5;
    }

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    }
.hr {
    border-top: solid 2px #000 !important;
    }